%div.sidebar
  %div.sidebar-top
    %div.sidebar-top-left
      %p 
        = current_user.name
    %div.sidebar-top-right
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.sidebar-top-right__awesome
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog.sidebar-top-right__awesome
  %div.sidebar-bottom
    - current_user.groups.each do |gro|
      = link_to group_messages_path(gro) do
        %div.group
          %p.group__name #{gro.name}
          %p.group__message 
            = gro.show_last_message