%header グループを作成しました
%div.sidebar
  %div.sidebar-top
    %div.sidebar-top-left
      %p ユーザーネーム
    %div.sidebar-top-right
      = link_to root_path do
        %i.fa.fa-pencil-square-o.sidebar-top-right__awesome
      = link_to root_path do
        %i.fa.fa-cog.sidebar-top-right__awesome
  %div.sidebar-bottom
    = link_to root_path do
      %div.group
        %p.group__name グループ
        %p.group__message メッセージ
    = link_to root_path do
      %div.group
        %p.group__name グループ
        %p.group__message メッセージ
%div.main
  %div.main-header
    %div.group-label
      %p.group-label__name-label グループ
      %p.group-label__member Member:ああああ
    %div.edit-label
      = link_to root_path do
        %div.edit-label__edit-button EDIT
  %div.main-chat-space
    %div.message-box
      %p.message-box__user-name 
        ああああ 
        %span 2019/05/19(Sun) 15:11:36
      %p.message-box__message テスト
    %div.message-box
      %p.message-box__user-name 
        ああああ 
        %span 2019/05/19(Sun) 15:11:36
      %p.message-box__message テスト
  %div.main-form