%header グループを作成しました
%div.sidebar
  %div.sidebar-top
    %div.sidebar-top-left
      %p 
        = current_user.name
    %div.sidebar-top-right
      = link_to root_path do
        %i.fa.fa-pencil-square-o.sidebar-top-right__awesome
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog.sidebar-top-right__awesome
  %div.sidebar-bottom
    = render "group"
%div.main
  %div.main-header
    %div.group-label
      %p.group-label__name-label グループ
      %p.group-label__member Member:ああああ
    %div.edit-label
      = link_to root_path do
        %div.edit-label__edit-button EDIT
  %div.main-chat-space
    = render "message-box"
  %div.main-form
    %form.form-space{action: "", method: :get}
      %div.form-space-message-area
        %input.form-space-message-area__message{name: "message", type: "text",  placeholder: "type a message"}
        %label.form-space-message-area__image{for: "get-image"}
          %i.fa.fa-picture-o.form-space-message-area__image__awesome
        %input#get-image{type: "file"}
      %input.form-space__button{type: :submit, value: "Send"}
      