-# %header グループを作成しました
= render "sidebar"
%div.main
  %div.main-header
    %div.group-label
      %p.group-label__name-label グループ
      %p.group-label__member Member:ああああ
    %div.edit-label
      = link_to "/groups/#{params[:group_id]}/edit" do
        %div.edit-label__edit-button EDIT
  %div.main-chat-space
    = render "message-box"
  %div.main-form
    = form_for [@group, @message], html: {class: "form-space" } do |f|
      %div.form-space-message-area
        = f.text_field :content, class: "form-space-message-area__message",  placeholder: "type a message"
        = f.label :image, class: "form-space-message-area__image", for: "get-image" do
          %i.fa.fa-picture-o.form-space-message-area__image__awesome
          = f.file_field :image, id: "get-image"
      = f.submit class: "form-space__button", value: "Send"